body{
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: PTSans;
    width: 1200px;
    vertical-align: middle;
    text-align: center
}
.main-header{
    background-color: #F1F5F7;
    width: 1200px;
    height: 320px;
    margin-bottom: 60px;
    
}
main{
    margin-left: 130px;
    width: 940px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.top-menu{
    width: 1200px;
    height: 42px;
    background-color: #293449;
}
.top-menu-logo{
    float: left;
    margin-left: 130px;
    width: 220px;
    height: 40;
    border-bottom: 5px solid darkred;
    margin-right: 10px; 
    text-align: center;
    color: white;
    background-color: #EE3643;
    font-family: Cuprum;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 42px;
    
}
.top-menu-search{
    width: 95px;
    float: left;
    height: 42px;
    color: #ffffff;
    font: 400 17px / 18px Cuprum;
    background-color: #293449;
    text-align: right;
    padding-right: 10px;
}
.order{
    float: right;
    margin-right: 130px;
    width: 150px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
    background-color: #63A63E;
    font-family: Cuprum;
    text-decoration: none;
    font-size: 17px;
    line-height: 42px;
    color: #ffffff;
}
.cart{
    float: right;
    width: 130px;
    height: 42px;
    margin-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: right;
    font-family: Cuprum;
    text-decoration: none;
    font-size: 17px;
    line-height: 42px;
    color: #ffffff;
}
.bookmark{
    float: right;
    width: 132px;
    height: 42px;
    background-color: #EE3643;
    font-family: Cuprum;
    text-decoration: none;
    font-size: 17px;
    line-height: 42px;
    color: #ffffff;
}
.top-menu-info{
    width: 940px;
}
.top-menu-info-title{
    float: left;
    width: 200px;
    min-height: 60px;
    margin-left: 55px;
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
    font-family: Cuprum;
    line-height: 23px;
    text-align: left;
    line-height:1.438;
        
}
.top-menu-info-contact{
    width: 270;
    float: left;
    margin-left: 60px;
}
.contact-phone{
    font-size: 21px;
    font-family: Cuprum;
    color: #e9292a;
    width: 266px;
    height: 43px;
    border: 3px solid white;
    vertical-align: middle;
    text-align: center;
    padding: 00px;
    
}
.user-block{
    width: 280;
    float: left;
    margin-left: 0px;
}
.user-block li{
    float: left;
    margin-left: 10px;
}
.registr{
    float: right;
    width: 150px;
    height: 45px;
}
.login{
     float: right;
    width: 121px;
    height: 45px;
    margin-right: 10px;
}
.user-block p{
    float: right;
    width: 299px;
    height: 45px;
    text-align: center;
}
.top-menu-info{
    float: left;
    margin: auto;
    width: 940px;
    margin-left: 130px;
    margin-top: 25px;
    min-height: 100px;
}
.main-menu{
    width: 940px;
    min-height: 60px;
    float: left;
    margin-bottom: 20px;
    margin-left: 130px;
}
.main-menu li{
    text-decoration: none;
    float: left;
    width: 100px;
    margin-right: 25px;
}
.popular-product h2{
    float: left;
    margin-left: 60px;
}
.popular-product a{
    float: right;
    margin-right: 60px;
}
.popular{
    width: 940px;
}
.product-item{
    width: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.product-item-row{
    width: 940px;
}
.popular-brands h2{
    float: left;
    margin-left: 60px;
}
.popular-brands a{
    float: right;
    margin-right: 60px;
}
.popular-brands div{
    width: 220px;
    height: 145px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
.breadcrumbs li{
    width: 80px;
    float: left;
    margin-right: 10px;
}
.filter{
    width: 220px;
    float: left;
}
.item{
    width: 700px;
    float: right;
    margin-bottom: 30px;
}
.item-info{
    width: 940 px;
    float: left
}
.sorting-line{
    width: 700px;
    margin-bottom: 30px;
}
.sorting-line a{
    width: 100px;
    float: right;
}
.sorting-line p{
    width: 100px;
    float: left;
}
.popular-brands{
    width: 940px;
    float: left;
}
.service article{
    width: 400px;
}
.service-menu li{
    width: 240px;
    height: 61px;
}
.service-menu{
    width: 240px;
    float: left;
    margin-right: 80px;
}
.service-info{
    width: 275px;
    float: left;
}
.info-about article{
    width: 520px;
    float: left;
    margin-right: 120px;
}
.info-contact article{
    float: left;
    width: 300px;
}
.info-contact  p{
    width: 220px;
}
.items{
    width: 940px;
    min-height: 410px;
    margin-left: 1px;
}
.slider{
    width: 620px;
    height: 266px;
    float: left;
    background-color: aquamarine;
}
.item-right div{
    margin-left: 20px;
    margin-bottom: 20px;
}
.item-row div{
    margin-right: 20px;
    margin-bottom: 20px;
}
.item-row div:nth-child(3){
    margin-right: 0px;
}
.item-right div, .item-row div{
    height: 123px;
    width: 300px;
    float: left;
    text-align: left;
    color: #ffffff;
    font-family: Cuprum;
    font-size: 24px;
}
.item-right a, .item-row a{
    display: inline-block;
    text-decoration: none;
    width: 135px;
    height: 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Cuprum;
    font-weight: 400;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    border-radius: 3%;
    text-align: center;
    vertical-align: middle;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.item-right p, .item-row p{
    display: block;
    margin-top: 22px;
    margin-left: 23px;
    margin-bottom: 13px;
    font-weight: 700;
}
.item-01{
    background: url("../img/Layer-92.png");
    background: #F6B22D url("../img/Layer%2092.svg") no-repeat scroll 0px 0px;
}
.item-02{
    background-color: #4AAFDE;
    background-image: url(../img/Layer%2096.svg);
    background-image: ("../img/promo-item01.png") scroll 0px 0px;
    background-repeat:  no-repeat;
  
}
.item-03{
    background: #CC79D1 url("../img/layer92.svg") no-repeat scroll 0px 0px;
}
.item-04{
    background: #85D179 url("../img/promo-item01.png") no-repeat scroll 0px 0px;
}
.item-05{
    background: #F6B22D url("../img/promo-item01.png") no-repeat scroll 0px 0px;
}



.top-footer-address{
    width: 322px;
    float: left;
    margin-left: 130px;
}
.top-footer-address p{
    width: 270px;
    margin-top: 40px;
}
.top-footer li{
    float: right;
    margin-left: 30px;
    margin-bottom: 40px;
}
.top-footer ul{
    margin-left: 650px;
    margin-top: 40px;
}
.bottom-footer-copyright{
    float: left;
    margin-left: 130px;
    margin-right: 150px;
    width: 228px;
}
.bottom-footer-social{
    float: left;
    background-color: blanchedalmond;
    margin-top: 30px;
}
.bottom-footer-contact p{
    width: 135px;
    float: right;
    margin-left: 30px;
}